bin/
.idea/
app/build/
.gradle/
*.iml
local.properties

PowerOffTest/gen/com/danielkao/autoscreenonoff/tests/BuildConfig.java

PowerOffTest/gen/com/danielkao/autoscreenonoff/tests/Manifest.java

PowerOffTest/gen/com/danielkao/autoscreenonoff/tests/R.java
